/*******************************************/
/*                 COLORS                  */
/*******************************************/

$primary-color: #2992ec;
$secondary-color: #ffbd2a;
$tertiary-color: #6e8898;
$quaternary-color: #d3d0cb;
$background-color: #9fb1bc;
