/*******************************************/
/*                 COLORS                  */
/*******************************************/

$primary-color: #2e5266;
$secondary-color: #e2c044;
$tertiary-color: #6e8898;
$quaternary-color: #d3d0cb;
$background-color: #9fb1bc;
