.button {
  padding: 15px 40px;
  border-radius: 25px;
  background-color: $primary-color;
  color: #fff;
  max-width: 50px;
  cursor: pointer;

  & > span {
    font-size: 1em;
    font-weight: bold;
  }

  &:hover {
    background-color: $secondary-color;
  }
}
